// Marvin Burkhard Kullick @ Copyright 2019

@import "lib/_variables";

// Reset the default css browser settings
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 55px auto auto;
  grid-gap: 10px;

  .nav {
    grid-column: 1 / -1;

    padding: 1em;
    background-color: $darkGrey;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, 100px);
      list-style-type: none;

      li:first-child {
        font-size: 20px;
      }
      li {
        justify-self: center;
        align-self: center;
        a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
        }
        a:hover {
          color: $lightBlue;
        }
      }
    }
  }

  .wrapper-sidebar {
    &--left {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      .sidebar-scene {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 10px;
        background-color: #fffcb6;

        p {
          margin-top: 5px;
          line-height: 20px;
        }
      }
    }
    &--right {

    }
    &--bottom {
      grid-column: 2 / 4;
      grid-row: 3 / -1;
      .sidebar-poi {
        padding: 10px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
        background-color: #fffcb6;

        .poi_information {
          p {
            margin-top: 5px;
            line-height: 20px;
          }
        }

        #poi_image {
          justify-self: end;
          img {
            border-radius: 5px;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }

  .content {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    #gameContainer {
      cursor: pointer;
      background: none !important;
    }
  }
}
