// Marvin Burkhard Kullick @ Copyright 2019

$darkGrey: #212121;
$lightGrey: #d0d0d0;
$blue: #00A5C4;
$lightBlue: #5DD7F7;
$darkBlue: #007693;
$white: #ffffff;

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto');
}

// Reset the default css browser settings
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

nav {
  padding: 1em;
  background-color: $darkGrey;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;

    li:first-child {
      font-size: 20px;
    }
    li:last-child {
      justify-self: end;
    }
    li {
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
      }
      a:hover {
        color: $lightBlue;
      }
    }
  }
}

.wrapper {
  padding: 1em;
  display: grid;
  grid-template-columns:
    [grid-start] 1fr
    [content-start] 2fr
    [content-end] 1fr
    [grid-end];
  grid-gap: 1em;

  .sidebar-scene {
    grid-column: grid-start / content-start;
  }
  .content {
    grid-column: content-start / content-end;
  }
  .sidebar-poi {
    grid-column: content-end / grid-end;
  }
}

#gameContainer {}
